@import "./styles/fonts.css";
@import "./styles/theme.css";

body {
  font-family: 'Inter', 'Noto Sans Gujarati', sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
